header {
    font-family: 'Afacad', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: white;
    font-size: 18px; /* Aumentamos el tamaño base del texto */
}

.logo {
    display: flex;
    align-items: center;
    flex: 1;
    font-size: 30px; /* Un poco más grande para que destaque */
}

.logo img {
    width: 80px; /* Aumentamos un poco el tamaño del logo */
    margin-right: 12px;
}

nav {
    flex: 2;
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 45px; /* Más espacio entre las opciones */
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 30px; /* Aumentamos el tamaño del texto de los links */
}

.auth-links {
    display: flex;
    align-items: center;
    gap: 20px;
    flex: 1;
    justify-content: flex-end;
    font-size: 25px;
}

.auth-links a {
    text-decoration: none; /* Quitamos el subrayado */
    color: black; /* Cambiamos el color a negro */
    font-weight: bold;
}

.register-btn {
    background-color: #00bfff;
    color: black;
    padding: 10px 18px;
    border: 2px solid black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center; /* Aseguramos que esté alineado */
    justify-content: center;
}

.register-btn:hover {
    background-color: #009acd;
}
