<form (ngSubmit)="goToDashboard(form)" #form="ngForm">
    <h1>Nueva cuenta de Organizador</h1>

    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" required>

    <label for="email">Email:</label>
    <input type="email" id="email" name="email" required>

    <label for="password">Contraseña:</label>
    <input type="password" id="password" name="password" required>

    <label for="confirmarPassword">Confirmar Contraseña:</label>
    <input type="password" id="confirmarPassword" name="confirmarPassword" required>

    <label for="telefono">Teléfono:</label>
    <input type="text" id="telefono" name="telefono" required>

    <label for="Cedula">Cédula:</label>
    <input type="text" id="Cedula" name="Cedula" required>

    <button type="submit">Crear mi cuenta</button>
    <button type="submit"(click)="goToLogin()">Ya tengo cuenta</button>
</form>
