<div class="container">
    <div class="recomendacion-container">
        <h2 class="titulo">Te recomendamos contratar un guía para:</h2>
        <h1 class="lugar">Monserrate</h1>
        <h3 class="subtitulo">Guías recomendados:</h3>

        <div class="guia-container">
            <div class="guia-card">
                <img src="assets/guia.png" alt="Guía 1" class="guia-img">
                <div class="guia-info">
                    <p class="estrellas">⭐⭐⭐⭐⭐</p>
                    <h4 class="nombre">Amir</h4>
                    <p class="contacto">amirguia&#64;gmail.com</p>
                    <p class="contacto">+57 3208141470</p>
                    <button class="btn-agregar">Agregar al plan</button>
                </div>
            </div>
        </div>

        <table>
          <thead>
            <tr>
              <th>Nombre</th>
              <th>Correo</th>
              <th>Acciones</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let guias of listaGuias">
              <td>{{guias.nombre}}</td>
              <td>{{guias.correo}}</td>
              <td>
                <button>Agendar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>

    <div class="button-container">
        <button class="register-btn" (click)="goToPlan()">Finalizar</button>
    </div>
</div>
