<form class="form" (ngSubmit)="goToResultados()" >
    <h1>Formulario</h1>

    <label for="destino">Destino</label>
    <input type="text" name="destino" required/>

    <label for="salida">Fecha de Salida</label>
    <input type="date" name="salida" required/>

    <label for="retorno">Fecha de retorno</label>
    <input type="date" name="retorno" required/>

    <label for="viajeros">Numero total de viajeros</label>
    <select name="viajeros">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="10">+10</option>
    </select>

    <label>Presupuesto Total</label>
    <input type="number" name="destino" required/>

    <label for="actividades">Tipo de actividades preferidas</label>
    <select name="actividades">
        <option value="culturarles">Culturarles</option>
        <option value="turisticas">Turisticas</option>
        <option value="deportivas">Deportivas</option>
        <option value="relajadas">Relajadas</option>
    </select>

    <button type="submit">Enviar</button>
</form>