.form {
    background-color: white; /* Fondo blanco */
    color: black;
    padding: 30px;
    border-radius: 10px;
    max-width: 500px;
    margin: 40px auto;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    border: 2px solid #ccc; /* Borde gris claro */
}

.form-title {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
    color: black;
}

label {
    display: block;
    font-size: 18px;
    margin-top: 15px;
    font-weight: bold;
}

input,
select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-top: 5px;
    border: 2px solid #bbb;
    border-radius: 5px;
    background-color: white;
    color: black;
    outline: none;
}

input:focus,
select:focus {
    border-color: #00bfff;
}

button {
    width: 100%;
    padding: 12px;
    margin-top: 20px;
    font-size: 20px;
    font-weight: bold;
    background-color: #00bfff; /* Azul */
    color: rgb(0, 0, 0);
    border: black;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background-color: #0d8eb6;
    transform: scale(1.05);
}

button:disabled {
    background-color: #00bfff;
    cursor: not-allowed;
}

.checkbox-container {
    display: inline-flex;
    align-items: center;
    margin-bottom: 8px; /* Add spacing between rows */
}

.checkbox-container input[type="checkbox"] {
    margin-right: 18px; /* Add spacing between checkbox and label */
    margin-left: 18px; /* Add spacing between checkbox and label */
}