<h1>Monserrate</h1>

<table>
    <thead>
        <tr>
            <th>Foto</th>
            <th>Descripción</th>
            <th>Ubicacion</th>
            <th>Costo de entrada</th>
            <th>Recomendaciones</th>
            <th></th> <!-- Ahora cubre ambos botones -->
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img src="assets/playa.png" alt="Monserrate"></td>
            <td>Cerro icónico con una vista panorámica de Bogotá.</td>
            <td>Bogotá, Colombia</td>
            <td>Gratis</td>
            <td>Ropa comoda e hidratacion</td>
            <td class="button-container">
                <button class="table-btn">Agregar al Itinerario</button>
            </td>
        </tr>
    </tbody>
</table>

<div class="button-container">
    <button class="register-btn" (click)="returnToForm()">Volver a los resultados</button>
</div>