<div class="container">
    <div class="header">
        <img src="assets/playa.png" alt="Monserrate" class="place-image">
        <div class="text-container">
            <h1>{{destinoInfo.nombre}}</h1>
            <p class="description">Descripción: {{destinoInfo.descripcion}}</p>
        </div>
    </div>

    <div class="info">
        <p><strong>Ubicación:</strong> {{destinoInfo.ubicacion}}</p>
        <p><strong>Costo:</strong> La entrada es gratuita, pero el teleférico y funicular tienen tarifas.</p>
        <p><strong>Horarios:</strong> 5:00 AM - 10:00 PM</p>
        <p><strong>Altura:</strong> 3,152 metros sobre el nivel del mar</p>
        <p><strong>Recomendaciones:</strong></p>
        <ul>
            <li>Ropa cómoda y abrigada (el clima es frío en la cima)</li>
            <li>Hidratación</li>
            <li>Subir temprano para evitar aglomeraciones</li>
            <li>Usar bloqueador solar</li>
            <li>Si subes caminando, hacerlo con precaución</li>
        </ul>
    </div>

    <div class="buttons">
        <button class="btn add-btn" (click)="addToPlan(destinoInfo.id)">Agregar al Itinerario</button>
        <button class="btn return-btn" (click)="returnToForm()">Volver</button>
    </div>
</div>
