<h1>
    Inicie sesion para poder continuar
</h1>

<form (ngSubmit)="goToForm(form)" #form="ngForm">
    <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
    </div>

    <div class="form-group">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" required>
    </div>

    <button type="submit">Iniciar Sesion</button>
    <button type="button" (click)="goToRegistro()">No tengo cuenta</button>
</form>
