<!-- Contenedor general de las tarjetas -->
<h1>Estos fueron tus Resultados!</h1>

<div class="cards-wrapper">

  <!-- TARJETA 1 -->
  <div class="horizontal-card">
    <img src="assets/playa.png" alt="Imagen" />
    <div class="card-content">
      <h2>Title</h2>
      <p>
        Body text...
      </p>
      <div class="button-group">
        <button>Agregar al Itinerario</button>
        <button class="table-btn" (click)="goToInfo()">Más Información</button>
      </div>
    </div>
  </div>
</div>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripción</th>
      <th>Acciones</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let destinos of listaDestinos">
      <td>{{destinos.nombre}}</td>
      <td>{{destinos.descripcion}}</td>
      <td>
        <button (click)="goToInfo()">Más Información</button>
        <button>Agregar al Itinerario</button>
      </td>
    </tr>
  </tbody>
</table>


<div class="button-container">
    <button class="register-btn" (click)="goToGuides()">Siguiente Paso</button>
</div>
