<div class="guia-container">
    <div class="guia-header">
        <img src="assets/guia.png" alt="Guía" class="guia-img" />
        <div class="guia-info">
            <h1 class="guia-nombre">{{guiaInfo.nombre}}</h1>
            <h2 class="guia-puntaje">
                {{guiaInfo.puntaje}} <span class="estrella">⭐</span>
            </h2>
        </div>
    </div>

    <h3 class="guia-reseñas-titulo">Reseñas</h3>
    <table class="guia-reseñas-tabla">
        <tbody>
            <tr *ngFor="let review of guiaInfo.comentarios">
                <td class="guia-reseña">{{review}}</td>
            </tr>
        </tbody>
    </table>
</div>
