<p>Landing</p>

<form class="form">
    <h1>Formulario</h1>

    <label>Destino</label>
    <input type="text" name="destino" />

    <label>Fecha de Salida</label>
    <input type="text" name="destino" />

    <label>Fecha de retorno</label>
    <input type="text" name="destino" />

    <label>Numero de viajeros</label>
    <input type="text" name="destino" />

    <label>Presupuesto Total</label>
    <input type="text" name="destino" />

    <label>Tipo de Actividad</label>
    <input type="text" name="destino" />

    <button type="submit">Enviar</button>
</form>