<!-- Caja de registro del organizador -->
<div class="organizer-call-to-action">
    <h1>¿Eres organizador turístico y te interesa publicar tu negocio en nuestra página?</h1>
    <button>Crea una cuenta de organizador</button>
  </div>
  
  <!-- Sección de beneficios -->
  <div class="organizer-benefits">
    <h1>¿Porque deberia inscribirme a CulTurista?</h1>
    <p>Al unirte a nuestra plataforma, podrás disfrutar de múltiples beneficios que potenciarán tu negocio:</p>
    <ul>
        <li><strong>Mayor visibilidad:</strong> Llega a una audiencia más amplia y aumenta tus oportunidades de negocio.</li>
        <li><strong>Conexión con clientes potenciales:</strong> Facilita el contacto directo con viajeros interesados en tus servicios.</li>
        <li><strong>Soporte y asesoría:</strong> Recibe orientación para optimizar la presentación de tus ofertas turísticas.</li>
    </ul>
  </div>
  