<body>
    <section class="form-section">
        <div class="overlay"></div>
        <div class="form-container">
            <form class="form" (ngSubmit)="createDestiny(form)" #form="ngForm">
                <h1 class="form-title">Registrar Actividad</h1>

                <div class="form-group">
                    <label>Nombre de la actividad</label>
                    <input type="text" name="nombre" [(ngModel)]="destino.nombre" required />
                </div>

                <div class="form-group">
                    <label>Ubicación</label>
                    <datalist id="ubicacion">
                        <option value="Bogotá"></option>
                        <option value="Zipaquirá"></option>
                        <option value="Cartagena"></option>
                        <option value="Amazonia"></option>
                    </datalist>
                    <input list="ubicacion" name="ubicacion" [(ngModel)]="destino.ubicacion" required>
                </div>

                <div class="form-group">
                    <label>Fecha del evento</label>
                    <input type="date" name="fecha" [(ngModel)]="destino.fecha" required />
                </div>

                <div class="form-group">
                    <label>Capacidad</label>
                    <select name="capacidad" [(ngModel)]="destino.capacidad" required>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                        <option value="7">7</option>
                        <option value="8">8</option>
                        <option value="9">9</option>
                        <option value="10">10+</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Costo por Persona</label>
                    <input type="number" name="costo" [(ngModel)]="destino.precio" required />
                </div>

                <div class="form-group">
                    <label>Tipo de Actividad</label>
                    <select name="tipo" [(ngModel)]="destino.tipo" required>
                        <option value="Cultural">Cultural</option>
                        <option value="Deportivo">Deportivo</option>
                        <option value="Gastronómica">Gastronómica</option>
                        <option value="Relajante">Relajante</option>
                        <option value="Aventura">Aventura</option>
                        <option value="Turismo">Turismo</option>
                        <option value="Religioso">Religioso</option>
                        <option value="Otros">Otros</option>
                    </select>
                </div>

                <div class="form-group">
                    <label>Descripción</label>
                    <textarea class="descripcion-textarea" name="descripcion" [(ngModel)]="destino.descripcion" required></textarea>
                </div>

                <button type="submit" [disabled]="form.invalid">Confirmar</button>
            </form>
        </div>
    </section>
</body>
