<h1>Su plan de viajes esta listo</h1>

<h2>Actividades</h2>
<div class="cards-wrapper">
    <!-- TARJETA 1 -->
    <div class="horizontal-card">
      <div class="card-content">
        <table>
          <thead>
            <tr>
              <th></th>
              <th></th>
              <th>Fecha</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let destinos of listaDestinos">
              <td><img src="assets/playa.png" alt="Imagen" /></td>
              <td>{{destinos.nombre}}</td>
              <td>25-1-1</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
</div>

<h2>Guias</h2>
<div class="cards-wrapper">
  <!-- TARJETA 1 -->
  <div class="horizontal-card">
    <div class="card-content">
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Nombre</th>
            <th>Correo</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let guias of listaGuias">
            <td><img src="assets/guia.png" alt="Imagen" /></td>
            <td>{{guias.nombre}}</td>
            <td>{{guias.correo}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>


<button>Descargar Mi Plan</button>
