<h1>Hola Doe</h1>

<h2>Mis eventos</h2>
<div class="button-container-alt">
    <div class="button-group">
        <button>Agregar</button>
    </div>
</div>

<div class="cards-wrapper">
    <div class="horizontal-card">
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let destino of listaDestinos" >
                        <td> {{destino.nombre}} </td>
                        <td> {{destino.ubicacion}} </td>
                        <td>
                            <div class="button-group">
                            <button>Ver Informacion</button>
                            <button class="Delete">Eliminar</button>
                            </div>
                        </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h2>Mis Guias</h2>
<div class="button-container-alt">
    <div class="button-group">
        <button>Agregar</button>
    </div>
</div>

<div class="cards-wrapper">
    <div class="horizontal-card">
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Evento</th>
                        <th>Puntaje</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let guias of listaGuias" >
                      <td> {{guias.nombre}} </td>
                      <td></td>
                      <td></td>  
                      <td>    
                        <div class="button-group">
                            <button>Ver Informacion</button>
                            <button class="Delete">Eliminar</button>  
                        </div>    
                    </td>  
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>