<h1>Hola Doe</h1>

<h2>Mis eventos</h2>
<div class="cards-wrapper">
    <div class="horizontal-card">
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Fecha</th>
                        <th>Ubicación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="button-group">
                        <button>Ver Informacion</button>
                        <button>Eliminar</button>
                        </div>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h2>Mis Guias</h2>
<div class="cards-wrapper">
    <div class="horizontal-card">
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Evento</th>
                        <th>Puntaje</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td>
                        <div class="button-group">
                            <button>Ver Informacion</button>
                            <button>Eliminar</button>
                            </div>
                    </td>
                </tbody>
            </table>
        </div>
    </div>
</div>