<h1>Buenos Dias Doe</h1>

<h2>Mis eventos</h2>
<div class="button-container-alt">
    <div class="button-group">
        <button (click)="agregarDestino()">Agregar</button>
    </div>
</div>

<div class="cards-wrapper">
    <div class="horizontal-card">
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Ubicación</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="listaDestinos.length === undefined || listaDestinos.length === 0" class="error_message">
                        <p>No ha registrado ningun destino.</p>
                    </div>

                    <tr *ngFor="let destino of listaDestinos" >
                        <td> {{destino.nombre}} </td>
                        <td> {{destino.ubicacion}} </td>
                        <td>
                            <div class="button-group">
                            <button *ngIf="destino.id !== undefined" (click)="informacionDestino(destino.id)">Ver Informacion</button>
                            <button *ngIf="destino.id !== undefined" (click)="actualizarDestino(destino.id)">Modificar</button>
                            <button class="Delete" *ngIf="destino.id !== undefined" (click)="eliminarDestino(destino.id)">Eliminar</button>
                            </div>
                        </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<h2>Mis Guias</h2>
<div class="button-container-alt">
    <div class="button-group">
        <button>Agregar</button>
    </div>
</div>

<div class="cards-wrapper">
    <div class="horizontal-card">
        <div class="card-content">
            <table>
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Evento</th>
                        <th>Puntaje</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <div *ngIf="listaGuias.length === undefined || listaGuias.length === 0" class="error_message">
                        <p>No ha registrado ningun guia.</p>
                      </div>
                    <tr *ngFor="let guias of listaGuias" >
                      <td> {{guias.nombre}} </td>
                      <td></td>
                      <td></td>  
                      <td>    
                        <div class="button-group">
                            <button>Ver Informacion</button>
                            <button (click)="actualizarDestino(guias.id)">Modificar</button>
                            <button class="Delete" (click)="eliminarGuia(guias.id)">Eliminar</button>  
                        </div>    
                    </td>  
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>