/* You can add global styles to this file, and also import other style files */
header {
    border-style: solid;
    padding-left: 10px;
}

body {
    font-family: 'Afacad', sans-serif;
    margin: 0;
    padding: 0;
  }
  