<div class="container">
    <h1>Quienes somos</h1>
    <p>CulTurista es una empresa Colombiana enfocada en apoyar el sector turistico local, facilitando el contacto entre organizadores y viajeros que desean tener una experiencia local</p>
    
    <h1>Nuestros Servicios</h1>
    <h2>Formulario de actividades</h2>
    <p>Por medio de un formulario corto, serás capaz de encontrar actividades locales perfectas para tu proximo viaje, ya sea que desees tener una experiencia turistica, deportiva, relijiosa, etc.</p>
    
    <h2>Creador de planes</h2>
    <p>Te ayudaremos paso a paso en el proceso de crear tu plan ideal, el cual podrás descargar una vez completado</p>
    
    <h2>Guias</h2>
    <p>Las actividades cuentan con guias locales para hacer de tu experiencia mucho más disfrutable y sin probleams</p>
    
    <h2>Contacto directo con organizadores y guias</h2>
    <p>Al elejir las actividades que deseas realizar, tendras acceso a la Información de contacto de la persona/empresa encargada y de los guias que haz seleccionado</p>
  </div>
  